*{
  margin: 0;
  padding: 0;
  
}
 
 
.logo{
  position: relative;
  float: left;    
}
.logo1{
   
  
  margin-top: 10px;
  margin-left: 5px;
  text-decoration: none;
   color:white;
   
    
  
}
.logo1:hover,.logo1:focus,.logo1:active{
  color: white;
}
 
ul{
  width:100%;
}
.logo2{
 
  margin-top: 5px;
 float: right;
  margin-right: 20px;
  padding: 7px 10px;
  color: white;
 
   
}
.name{
  margin-top: 10px;
  margin-left: 5px;
  font-size: 20px;
  background-image: linear-gradient(to bottom right,white, #FFC300);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}
img{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
ul{
  list-style: none;
}
.nav
{
  background-image: linear-gradient(to right,#003060,#055C9D);
  box-shadow: 0 0.5px 2px 0#043a63de;
  
}
 